@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}


<h1>
I have a problem with the following code:
</h1>



<ul>
    @{
        for(int i=0; i < 10; i++)
        {
            <li>Product #@(i+1)</li>
        }
    }
</ul>